{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"],
        "include": [
          "lodash",
          "transform-object-rest-spread"
        ]
      },
      "modules": "commonjs"
    }]
  ]
}
